html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  font-family: family('body');
}

[class*="font-sans-"] {
  font-family: family('body') !important;
}

body {
  color: $theme-color-primary-dark;
  font-size: size('body', 5);

  @include at-media('desktop') {
    font-size: size('body', 6);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: family('body');
  color: $theme-color-primary-dark;
}

a {
  color: $theme-color-primary;
}
